@charset "UTF-8";
/**
* 魔映竞猜平台样式文件
*/
/**
* 阴影
*/
/**
* 圆角
*/
body {
  background-color: #ffffff; }

.sub-desc {
  font-size: 1em; }

.margin-top20 {
  margin-top: 30px; }

.moin-panel {
  padding-top: 10px;
  padding-bottom: 10px; }

.moin-relative {
  position: relative;
  overflow: visible; }

.moin-badge-primary {
  background: #ff738f;
  color: #fff;
  display: inline;
  padding: 2px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.moin-avatar-sex {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 20px;
  height: 20px; }
  .moin-avatar-sex img {
    width: 100%;
    height: 100%; }

i.moin-icon-golds {
  height: 1.5em;
  line-height: 1.5em;
  font-size: 16px;
  display: inline-block;
  background-image: url("../img/golds.png");
  background-size: 2em;
  background-repeat: no-repeat;
  padding-left: 2.2em; }

.moin-text-center {
  text-align: center; }

.moin-tab .moin-tab-head {
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: horizontal; }
  .moin-tab .moin-tab-head .tab-head-item {
    height: 40px;
    line-height: 40px;
    -webkit-box-flex: 1; }
    .moin-tab .moin-tab-head .tab-head-item.active {
      color: #ff738f; }
  .moin-tab .moin-tab-head .tab-head-bottom {
    display: block;
    position: absolute;
    width: 33.333%;
    height: 4px;
    background: #ff738f;
    bottom: 0px;
    left: 0px;
    -webkit-transition: left .1s ease-in; }
.moin-tab .moin-tab-content .tab-content-item {
  width: 100%;
  display: none; }

.moin-list {
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  -webkit-box-orient: horizontal; }
  .moin-list .moin-list-img {
    padding: 10px 10px 10px 0px; }
    .moin-list .moin-list-img img {
      width: 100%;
      display: block; }
    .moin-list .moin-list-img.moin-img-40 {
      width: 40px; }
    .moin-list .moin-list-img.moin-img-80 {
      width: 80px; }
    .moin-list .moin-list-img.moin-img-100 {
      width: 100px; }
  .moin-list .moin-list-info {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical; }
    .moin-list .moin-list-info h4 {
      font-size: 16px; }
    .moin-list .moin-list-info p {
      font-size: 14px;
      color: #777; }

/**
* 阴影
*/
/**
* 圆角
*/
/**
* 头信息
*/
.ui-header {
  background: #ffffff;
  border-bottom: 1px solid #e0e0e0; }
  .ui-header h1 {
    color: rgba(0, 0, 0, 0.8); }
  .ui-header .moin-header-btn i {
    color: rgba(0, 0, 0, 0.8); }
  .ui-header .moin-header-btns .moin-header-btn {
    text-align: center;
    position: relative;
    top: 0px;
    right: 0px;
    float: right;
    padding: 0px 10px;
    min-width: 25px; }
    .ui-header .moin-header-btns .moin-header-btn:active {
      background: #e5e6e7; }
  .ui-header .moin-header-btns.moin-right-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 45px; }

.ui-header .moin-header-btn.moin-left-btn {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 45px;
  padding: 0px 10px;
  min-width: 25px;
  text-align: center; }
  .ui-header .moin-header-btn.moin-left-btn:active {
    background: #e5e6e7; }

.ui-header .moin-header-btn.moin-right-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 45px;
  padding: 0px 10px;
  min-width: 25px;
  text-align: center; }
  .ui-header .moin-header-btn.moin-right-btn:active {
    background: #e5e6e7; }

/**
* 阴影
*/
/**
* 圆角
*/
/**
* 登录模块样式
*/
.moin-login-box {
  padding: 30px 15px; }
  .moin-login-box label {
    color: #333; }
  .moin-login-box .sub-desc {
    padding-left: 15px; }

/**
* 阴影
*/
/**
* 圆角
*/
.moin-check-body {
  background: #f0f3f5; }

.moin-check-bg {
  background: #ffffff; }

.moin-check-box .moin-check-info {
  background: #eff3f6;
  height: 100px; }
.moin-check-box .moin-check-circle {
  position: relative;
  padding: 20px 0px;
  border: 0px solid red;
  width: 100%; }
  .moin-check-box .moin-check-circle:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .moin-check-box .moin-check-circle {
    height: 1px; }
  .moin-check-box .moin-check-circle ul {
    width: 100%;
    text-align: center; }
    .moin-check-box .moin-check-circle ul:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html .moin-check-box .moin-check-circle ul {
      height: 1px; }
  .moin-check-box .moin-check-circle ul li {
    float: left;
    width: 14%; }
    .moin-check-box .moin-check-circle ul li .check-circle {
      -moz-border-radius: 80%;
      -webkit-border-radius: 80%;
      border-radius: 80%;
      text-align: center;
      width: 40px;
      line-height: 40px;
      height: 40px;
      border: 1px solid #d4d4d4;
      background: #ffffff;
      display: inline-block;
      color: #d4d4d4;
      clear: both; }
    .moin-check-box .moin-check-circle ul li.unchecked .check-circle {
      background: #d4d4d4;
      color: #f5f5f5; }
    .moin-check-box .moin-check-circle ul li.checked .check-circle {
      border: 1px solid #f76383;
      background: #f76383;
      color: #f5f5f5; }
    .moin-check-box .moin-check-circle ul li.checked .check-date {
      color: #f76383; }
  .moin-check-box .moin-check-circle .line {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid red;
    position: absolute;
    top: 40px;
    z-index: -1; }
  @media screen and (min-width: 780px) {
    .moin-check-box .moin-check-circle ul li .check-circle {
      width: 75px;
      height: 75px;
      line-height: 75px; }
    .moin-check-box .moin-check-circle .line {
      top: 60px; } }

p.line-space {
  display: block;
  height: 10px;
  background: #f0f3f5; }

.moin-check-title {
  height: 40px;
  line-height: 40px;
  border: 0px solid red;
  overflow: hidden; }
  .moin-check-title h4 {
    display: inline-block;
    height: 30px;
    background: #e1dfd2;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 0px 20px 0px 40px;
    margin-left: -20px;
    line-height: 30px; }

.moin-check-desc .moin-check-detail {
  padding-top: 10px;
  padding-bottom: 10px; }

.check-tip-img {
  width: 300px;
  left: 50%;
  margin-left: -150px;
  display: block;
  position: fixed;
  text-align: center;
  top: 50%;
  margin-top: -150px; }
  .check-tip-img img {
    width: 300px; }
  .check-tip-img p {
    padding-top: 10px;
    font-size: 24px;
    font-family: '黑体'; }

/**
* 遮罩
*/
.zhezhao-bg {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }

.zhezhao-content {
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  color: white; }

/**
* 阴影
*/
/**
* 圆角
*/
.moin-product-box .moin-product-img img {
  display: block;
  width: 100%;
  min-height: 100px; }
.moin-product-box .moin-product-info .outer {
  display: -webkit-box;
  display: box; }
  .moin-product-box .moin-product-info .outer .float-left {
    -webkit-box-flex: 1; }
  .moin-product-box .moin-product-info .outer .float-right {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center; }
.moin-product-box .moin-product-info .product-title {
  font-size: 18px; }
.moin-product-box .moin-product-info .product-gold {
  font-size: 1.5em;
  color: #ff738f; }
.moin-product-box .moin-product-info .product-state {
  color: #a1a1a1; }
.moin-product-box .moin-product-info .product-express {
  color: #a1a1a1; }

/**
* 阴影
*/
/**
* 圆角
*/
.moin-gold-detail-box table {
  line-height: 40px;
  text-align: center;
  background-color: #fff; }
  .moin-gold-detail-box table thead th {
    background: #f0f0f0; }

.float-outer {
  display: -webkit-box;
  display: box; }
  .float-outer .float-left {
    -webkit-box-flex: 1; }
  .float-outer .float-right {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center; }

/**
* 阴影
*/
/**
* 圆角
*/
.moin-challenge-tab {
  width: 100%; }
  .moin-challenge-tab:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .moin-challenge-tab {
    height: 1px; }
  .moin-challenge-tab ul {
    text-align: center;
    width: 300px;
    margin: 0 auto; }
    .moin-challenge-tab ul:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html .moin-challenge-tab ul {
      height: 1px; }
    .moin-challenge-tab ul li {
      float: left;
      width: 50%;
      cursor: pointer; }
      .moin-challenge-tab ul li a {
        font-size: 18px;
        color: #999999;
        padding: 5px 0px; }
        .moin-challenge-tab ul li a.active {
          border-bottom: 1px solid #333333;
          color: #333333; }
        .moin-challenge-tab ul li a:hover {
          border-bottom: 1px solid #000000; }
    @media screen and (max-width: 400px) {
      .moin-challenge-tab ul {
        width: 200px; } }

.moin-challenge-list .ui-list-img {
  width: 100px;
  height: 100px;
  overflow: hidden; }
  .moin-challenge-list .ui-list-img img {
    width: 100%; }
.moin-challenge-list .ui-list-info {
  -webkit-box-pack: start; }
  .moin-challenge-list .ui-list-info p {
    font-size: 14px;
    color: #777; }
  .moin-challenge-list .ui-list-info .gold-s {
    height: 16px; }

.moin-progress-bar {
  width: 100px;
  display: inline-block;
  line-height: 14px;
  height: 14px;
  border-radius: 10px;
  background: #ececec; }
  .moin-progress-bar .moin-progress-rate {
    display: inline-block;
    background: #ee5748;
    height: 14px;
    width: 0px;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-transition: width .5s ease-in; }

.moin-daily-list .gold-s {
  height: 16px; }

/**
* 阴影
*/
/**
* 圆角
*/
.moin-filminfo-tab:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
* html .moin-filminfo-tab {
  height: 1px; }
.moin-filminfo-tab ul {
  width: 100%;
  text-align: center; }
  .moin-filminfo-tab ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .moin-filminfo-tab ul {
    height: 1px; }
  .moin-filminfo-tab ul li {
    float: left;
    text-align: center;
    padding: 0px 10px; }
    .moin-filminfo-tab ul li:not(.v-line) a {
      width: 100%;
      color: #333;
      padding: 5px; }
      .moin-filminfo-tab ul li:not(.v-line) a.active {
        border-bottom: 1px solid #888; }
      .moin-filminfo-tab ul li:not(.v-line) a:active {
        color: red; }
    .moin-filminfo-tab ul li.v-line {
      padding: 0px; }
      .moin-filminfo-tab ul li.v-line a {
        border-right: 1px solid #888; }

.moin-film-cast-box {
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 10px; }
  .moin-film-cast-box:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .moin-film-cast-box {
    height: 1px; }
  .moin-film-cast-box ul {
    width: 1200px; }
    .moin-film-cast-box ul:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html .moin-film-cast-box ul {
      height: 1px; }
    .moin-film-cast-box ul li {
      width: 150px;
      float: left;
      text-align: center; }
      .moin-film-cast-box ul li .rank {
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        padding-left: 10px; }

/**
* 阴影
*/
/**
* 圆角
*/
.moin-index-tab:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
* html .moin-index-tab {
  height: 1px; }
.moin-index-tab ul {
  width: 100%;
  text-align: center; }
  .moin-index-tab ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .moin-index-tab ul {
    height: 1px; }
  .moin-index-tab ul li {
    float: left;
    text-align: center;
    padding: 0px 10px; }
    .moin-index-tab ul li:not(.v-line) a {
      width: 100%;
      color: #333;
      padding: 5px; }
      .moin-index-tab ul li:not(.v-line) a.active {
        color: red; }
      .moin-index-tab ul li:not(.v-line) a:active {
        color: red; }
    .moin-index-tab ul li.v-line {
      padding: 0px; }
      .moin-index-tab ul li.v-line a {
        border-right: 1px solid #888; }

.moin-index-box .moin-index-item {
  padding: 10px 10px; }
  .moin-index-box .moin-index-item img {
    width: 100%;
    display: block; }

/**
* 魔映首页的签到按钮样式
*/
.moin-index-checkin-btn {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ff738f;
  background: #ff738f;
  position: fixed;
  right: -20px;
  top: 80px;
  padding: 5px 25px 5px 20px;
  color: #ffffff; }
  .moin-index-checkin-btn img {
    height: 20px;
    vertical-align: middle; }
  .moin-index-checkin-btn:active {
    background: #ff91a7; }

/**
* 阴影
*/
/**
* 圆角
*/
/**
* 我的魔豆
*/
.moin-mygold-box li {
  padding: 5px; }
  .moin-mygold-box li .moin-mygold-item {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    height: 125px;
    padding: 10px 5px;
    background: red;
    text-align: center;
    color: #ffffff; }
    .moin-mygold-box li .moin-mygold-item img {
      height: 20px; }
    .moin-mygold-box li .moin-mygold-item:nth-child(2) {
      background: #52ca95; }

.moin-gift-box li {
  padding: 5px; }
  .moin-gift-box li .moin-product-info {
    padding: 5px; }
    .moin-gift-box li .moin-product-info .product-title {
      font-size: 14px; }
    .moin-gift-box li .moin-product-info .product-gold {
      font-size: 14px;
      color: #ff738f; }

/**
* 阴影
*/
/**
* 圆角
*/
/**
* 老虎机
*/
.slot-machines-shell {
  width: 300px;
  margin: 0 auto;
  height: 500px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid red; }
  .slot-machines-shell .slot-machines-screen {
    display: -webkit-box;
    -webkit-box-orient: horizontal; }
    .slot-machines-shell .slot-machines-screen .slot-machines-box {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 100px;
      line-height: 100px;
      overflow: scroll;
      width: 100px;
      border: 1px solid;
      -webkit-box-flex: 1; }
      .slot-machines-shell .slot-machines-screen .slot-machines-box .slot-machines-item {
        height: 100px;
        border-bottom: 1px solid red; }
        .slot-machines-shell .slot-machines-screen .slot-machines-box .slot-machines-item img {
          width: 100%;
          height: 100%;
          vertical-align: middle;
          display: inline-block; }

/**
* 阴影
*/
/**
* 圆角
*/
/**
* 猜
*/
.hot-box {
  width: 100%;
  height: 400px;
  overflow: auto;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  box-sizing: border-box; }
  .hot-box .hot-data {
    height: auto;
    border: 1px solid blue;
    width: 50px; }
    .hot-box .hot-data .hot-data-item {
      height: 40px;
      border: 1px solid green;
      text-align: right; }
  .hot-box .hot-content {
    -webkit-box-flex: 1;
    overflow: hidden;
    border: 1px solid red;
    height: 400px;
    position: relative; }
    .hot-box .hot-content .test {
      position: absolute;
      top: 100px;
      left: 50px;
      width: 100px;
      height: 100px;
      border: 1px solid;
      background: red; }

/**
* 阴影
*/
/**
* 圆角
*/
.moin-btn, .moin-btn-lg, .moin-btn-s {
  height: 30px;
  line-height: 30px;
  padding: 0px 11px;
  min-width: 55px;
  color: #000000;
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#fdfdfd));
  border: 1px solid #cacccd;
  outline: 0;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px; }
  .moin-btn:not(:disabled):not(.disabled):active, .moin-btn-lg:not(:disabled):not(.disabled):active, .moin-btn-s:not(:disabled):not(.disabled):active {
    background: #d4d4d4;
    color: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d4d4d4), to(#d4d4d4)); }
  .moin-btn:disabled, .moin-btn-lg:disabled, .moin-btn-s:disabled {
    border: 0;
    color: #cccccc;
    background: #e9ebec;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }

.moin-btn-lg {
  height: 40px;
  width: 100%;
  line-height: 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .moin-btn-lg:not(:disabled):active {
    background: #f0f0f0; }

.moin-btn-primary {
  background-color: #ff738f;
  border-color: #ff91a7;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #ff738f), to(#ff738f));
  color: #fffffd;
  background-clip: padding-box; }
  .moin-btn-primary:not(.disabled):not(:disabled):active, .moin-btn-primary.active {
    background: #ff91a7;
    border-color: #ff91a7;
    color: #FFA7BA;
    background-clip: padding-box; }

.moin-btn-primary-hollow {
  background-color: #ffffff;
  border-color: #ff738f;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #ffffff), to(#ffffff));
  color: #ff738f;
  background-clip: padding-box; }
  .moin-btn-primary-hollow:not(.disabled):not(:disabled):active, .moin-btn-primary-hollow.active {
    background: #ff91a7;
    border-color: #ff91a7;
    color: #FFA7BA;
    background-clip: padding-box; }

.moin-btn-r20 {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px; }

.moin-subtitle {
  height: 40px;
  line-height: 40px;
  border: 0px solid red;
  overflow: hidden; }
  .moin-subtitle h4 {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #a1a1a1;
    font-size: 1em; }

@media screen and (min-width: 780px) {
  .ui-container {
    width: 780px;
    margin-left: auto;
    margin-right: auto; }

  .zhezhao, .ui-header, .ui-footer {
    width: 780px;
    left: 50%;
    margin-left: -390px; } }

/*# sourceMappingURL=moin.css.map */
