@charset "utf-8";

@import 
		"../base/mixin",
		"../base/variables";

/**
* 我的魔豆
*/
.moin-mygold-box{
	 
	
	li{
		padding:5px;
		.moin-mygold-item{
			display:-webkit-box;
			 -webkit-box-orient: vertical;
			    -webkit-box-pack: center; 	
		
			height:125px;
			padding:10px 5px;
			background:red;
			text-align:center;
			color:#ffffff;
			img{
				height:20px;
			}
			&:nth-child(2){
				background:#52ca95;
			}
		}
	}
	
	
	
}