@charset "utf-8";
@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}


@mixin box-radius($shadows...){
	-moz-box-shadow: $shadows;
	-webkit-box-shadow: $shadows;
	box-shadow: $shadows;
}

@mixin border-radius($radius...){
	-moz-border-radius:$radius;
	-webkit-border-radius:$radius;
	border-radius:$radius;	
}